{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
    <h1>{{ post.title }}</h1>
    <p class="date w3-text-grey">
        Опубликовано {{ post.publish }} автором {{ post.author }}
    </p>
    <div class="w3-panel w3-light-grey w3-padding">
        {{ post.body|markdown }}
    </div>
     <h2>Возможно вам будет интересно</h2>
        {% for post in similar_posts %}
 <p>
 <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
 </p>
 {% empty %}
 There are no similar posts yet.
 {% endfor %}

    {% with comments.count as total_comments %}
    <h2>
        Количество комментариев: {{ total_comments }}
    </h2>
 {% endwith %}
     {% for comment in comments %}
    <div class="w3-container w3-card-2 w3-light-grey w3-margin-bottom">
        <p class="info">
            Комментарий {{ forloop.counter }} от {{ comment.name }} <br>
            <span class="w3-text-grey">{{ comment.created }}</span>
        </p>
        <div class="w3-padding">
            {{ comment.body|linebreaks }}
        </div>
    </div>
    {% empty %}
    <p>Пока здесь нет комментариев.</p>
    {% endfor %}
    {% include "blog/post/include/comment_form.html" %}
</div>
{% endblock %}